*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    background: rgb(27, 27, 27);
    font-family: "Roboto", san-serif;
}

header{
    background-color: #262626;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    position:fixed;
}

.nav-branding{
    font-size: 2rem;
}


.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: dodgerblue;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.title{
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 2rem;
    color:aliceblue;
}

.socials{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.spotify-icon{
    content: url("pics/spotify.png");
    height: 20px;
    justify-content: center;
}

summary{
    color:white;
    padding: 2rem;
}

details{
    padding: 0 1rem;
}

details > summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.25rem;
    cursor: pointer;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::after{
    content: url(./pics/right-arrow.png);
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    transition: transform 0.3s ease;
}

details[open] > summary::after{
    transform:rotate(90deg);
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: white;
    width: 220px;
    margin: 10px;
    border-radius: 15px;
    flex: 40%;
}

.card-image{
    background-color: aqua;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card p{
    padding: 10px;
}


.address{
    background-color: grey;
    margin-top: 50px;
    border-radius: 5px;;
}

#nearby-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Inserting all the images here */

/* San Francisco */
#Golden_Gate{
    background-image: url("pics/Golden_Gate.jpg");
}
#Golden_Gate_Park{
    background-image: url("pics/Golden_Gate_Park.jpg")
}
#Fishermans_Wharf{
    background-image: url("pics/Fishermans_Wharf.jpg")
}
#California_Academy_Of_Sciences{
    background-image: url("pics/California_Academy_Of_Sciences.jpg");
}
#Marufuku_Ramen{
    background-image: url("pics/Marufuku_Ramen.jpg")
}
#De_Young_Museum{
    background-image: url("pics/De_Young_Museum.jpg")
}
#Alcatraz{
    background-image: url("pics/Alcatraz.jpg")
}
#The_Wave_Organ{
    background-image: url("pics/The_Wave_Organ.jpg")
}
#China_Beach{
    background-image: url("pics/China_Beach.jpg")
}
#Muir_Woods{
    background-image: url("pics/Muir_Woods.jpg")
}

/* Sacramento */
#Old_Sacramento{
    background-image: url("pics/Old_Sacramento.jpg")
}
#Journey_To_The_Dumpling{
    background-image: url("pics/Journey_To_The_Dumpling.jpg")
}

/* test */
#Home_Depot{
    background-image: url("pics/Home_Depot.jpg")
}
.janice{
    background-image: url("pics/janice.jpg");
    height: 300px;
}
.maria{
    background-image: url("pics/maria.jpg");
    height: 300px;
}
.carmen{
    background-image: url("pics/carmen.jpg");
    height: 300px;
}
.jason{
    background-image: url("pics/jason.jpg");
    height: 300px;
}

@media(max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left:-100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}

